# Saddle - CODEOWNERS
# Valid repository owners, August 2026
# Project: Saddle
# All repository paths are jointly owned by the listed valid GitHub accounts.
* @iakadion @wenathlan @inathlan @aasblor @nasblor
